table td,
.intro {
  height: 100%;
  color: #545f7d;
  margin-top: 50px;
  width: 100%;
}

table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
th {
  color: #545f7d;
  align-items: center;
}
th img {
  margin-left: 5px;
  align-self: center;
}
.filterComponent {
  position: absolute;
}
.card {
  border-radius: 0.5rem;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.status {
  .dashboard-status {
    height: 30px;
    width: 80px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

    background: rgba(84, 95, 125, 0.06);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
.option {
  position: absolute;
  top: -10px;
  bottom: 0px;
  right: 10px;
}
.options {
  height: 130px;
  width: 180px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .option-item {
    text-decoration: none;
    display: flex;
    gap: 0px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;
  }
}
@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
